html {
    box-sizing: border-box; /* dimension of elements will include the border and padding */
}
*, *::before, *::after {
    box-sizing: inherit; /*  all elements preset in the Dom & pseudo-elements(::before, ::after) takes value of property from its parent element  */
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}
.wrapper {
    height: 100vh;
}
.container {
    max-width: 1640px;
    /* border: 1px solid #ededed; */
    margin: 0 auto;
    height: 100vh;
}
/* COLOR VARIABLES */
:root {
    --primary-color: #FE6767;
    --dark-color: #545454;
    --gray-color: #b6b6b6;
    --white-color: #fff;
}
/* TEXT VARIABLES */


/*                                     HEADER                 */
.header {
    padding-top: 70px;
    margin-bottom: 248px;
}
.logo {
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    color: var(--primary-color);
}
.header__menu {
    max-height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__menu ul {
    padding: 0;
    display: flex;
}
.header__menu ul li{
    display: inline;
    list-style: none;
    margin-right: 0px;
    
}
.header__menu ul:first-child li {
    padding-right: 2px;
}
.header__menu ul:last-child li {
    padding-right: 0;
    padding-left: 70px;
}
.header__menu ul li:first-child a {
    color: var(--dark-color);
    
}
.header__menu ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;

}

/*                              MAIN                      */
main, article {
    /* height: 100%; */
}
.content {
    /* border: 1px solid black; */
}
.article {
}
.request {
}
.request__text {
    font-size: 64px;
    font-weight: 700;
    font-style: italic;
    /* padding-top: 2px; */
}
.request__text-accent {
}
.text-p {
    padding-top: 10px;
    margin-bottom: 53px;
    font-size: 24px;
    color: var(--gray-color);
}
.request__section {
}
.request__btn {
    border:none;
    width: 300px;
    height: 50px;
    background-color: var(--primary-color);
    margin-right: 45px;
    margin-bottom: 87px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--white-color);

}
.request__more {
    /* border: 1px solid black; */
    display: inline-block;
    
}
.request__more-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
}
/* REQUEST IMAGES */
.request__img {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 66px;
    padding-top: 182px;
    /* border: 1px solid black; */
}
.request__img2 {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 182px;

}
.info {
}
.shapebox {
    position: absolute;
    /* border: 1px solid green; */
    top: 0;
    right: 0;
    z-index: -1;
    width: 905px;
    height: 1080px;
    background-color: var(--primary-color);
    border-left: 378px solid var(--white-color);
    border-bottom: 1080px solid transparent;
    /* How to rotate this shadow ? */
    /* filter: drop-shadow(-10px 0px 50px black); */
}

/* SECTION INFO */
.bikeStats {
    /* border: 1px solid black; */
    width: 635px;
    height: 216px;
    margin-left: 634px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    
}
.info_up {
    
}
.batteryRange {
    margin-left: 81px;

}
.batteryRange .text__left-h6 {
    text-transform: uppercase;
    margin-left: 67px;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    color: var(--gray-color);
}
.batteryRange span {
    margin-left: 29px;
}
.assistSpeed .text__left-h6 {
    text-transform: uppercase;
    margin-left: 123px;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    color: var(--gray-color);
}

.text-h6 {
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    color: var(--dark-color);
    text-transform: uppercase;
}
.text__left-h6 {
    color: var(--gray-color);
}
.colored {
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color);
}
.chargingTime {
   margin-left: 96px;
} 
.info_down {
    width: 350px;
}
.info_down .colored {
    color: var(--white-color);
}
.assistSpeed {
    padding-top: 32px;
    /* margin-left: 4px; */
}
.weight {
    margin-left: 50px;
    margin-top: 33px;
}


