html {
    box-sizing: border-box; /* dimension of elements will include the border and padding */
}
*, *::before, *::after {
    box-sizing: inherit; /*  all elements preset in the Dom & pseudo-elements(::before, ::after) takes value of property from its parent element  */
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
}
.container {
    max-width: 1680px;
    border: 1px solid black;
    margin: 0 auto;
}
:root {
    --primary-color: #FE6767;
    --dark-color: #545454;
    --gray-color: #b6b6b6;
    --white-color: #fff;
}
